* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgreen;
}

form {
    margin-top: 25px;
    margin-bottom: 25px;
}

h3 {
    font-size: large;
}

.label {
    font-size: 16px;
    font-weight: 600;
}

.desc {
    text-align: center;
}

.content {
    margin-top: 25px;
    background-color: white;
    border-radius: 15px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn {
    background-color: lightgreen;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.text {
    margin-bottom: 15px;
}